@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

:root {
  background-color: #282a36;
}

body {
  margin: 0 0;
  font-family: "JetBrains Mono" !important;
  /* font-family: "IBM Plex Mono" !important; */
}

.App {
  width: 100%;
  height: 100vh;
}

.logo {
  font-family: monospace;
  white-space: pre;
}

ul {
  list-style-type: none;
}

h1 {
  font-size: 1.5em;
  color: #50fa7b;
}

td, th {
  border-bottom: 0.1em solid white;
  text-align: center;
}

table {
  width: 50%;
  margin: 0;
}

th {
  font-weight: bold;
  color: #ffb86c;
}

@media screen and (max-width: 400px) {
  body {
    font-size: 10px;
  }
}

